body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height:5rem;
}

/* compass icon */
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
    font-size: 18px !important;
}
.nav-link:hover{
    color:#fe424d !important;
    font-size: 18px !important;
    /* font-weight: bold; */
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
    
}

.f-info-links a:hover{
    text-decoration: underline; 
}

.f-info-links{
    width:100%;
}
.f-info-socials{
    width:100%;
    font-size: 1.5rem;
}

.f-info-socials i{
    margin-right:1rem;
    margin-top:1rem;
}

.f-info{
    text-align: center;
    display:flex;
    height:8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.card{
    border:2px !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    object-fit:cover !important;
}

.card-body{
    padding:0 !important;

}
.card-text p{
    font-weight:400 !important;
}
.listing-link{
    text-decoration: none !important;
}

/* card effect */
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:white;
}

.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}
.btns{
    display: wrap;
   
}
.card-review{
    border:1px solid #222222;
    border-radius: 10px;
}

/* Normal CSS */
.custom-class {
    border-width: 2px;
    border-color: #4B5563; /* gray-600 in Tailwind corresponds to #4B5563 */
    border-style: solid;
    border-radius: 0.5rem; /* lg in Tailwind corresponds to 0.5rem */
    transition: all 300ms ease-in-out;
}

.custom-class:hover {
    transform: scale(1.1);
}